form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-bottom: 1em;
}

label {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.6em;
}

input {
  font-size: 1em;
  padding: 0.4em 0.6em;
  border-radius: 3px;
  border: 1px solid #bbb;
  justify-self: start;
}